<table id="backup_list" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="backup_list_info">
    
    <thead>
        <tr role="row">
            <th tabindex="0" rowspan="1" colspan="1">Início</th>
            <th tabindex="0" rowspan="1" colspan="1">Versão</th>
            <th tabindex="0" rowspan="1" colspan="1">Solicitante</th>
            <th tabindex="0" rowspan="1" colspan="1">Término</th>
            <th tabindex="0" rowspan="1" colspan="1">Atendente</th>
            <th tabindex="0" rowspan="1" colspan="1">Status</th>
        </tr>
    </thead>

    <tbody>
    
        {% comment %} <tr role="row" class="{% cycle 'odd' 'even' %}">
            <td>10/10/2020</td>
            <td>9.44</td>
            <td>Pessoa qualquer</td>
            <td>10/10/2020</td>
            <td>Qualquer pessoa</td>       
            <td>Finalizado</td>             
        </tr> {% endcomment %}

        {% for blinha in backups %}
        
        <tr role="row" class="{% cycle 'odd' 'even' %}">
            <td>{{blinha.solic_date|date:"d/m/Y H:i:s"}}</td>
            <td>{{blinha.solic_version.version.version}}</td>
            <td>{{blinha.solic_user.first_name}} {{blinha.solic_user.last_name}}</td>
            <td>{{blinha.atend_date|date:"d/m/Y H:i:s"|default_if_none:""}}</td>
            <td>{{blinha.atend_user.first_name}} {{blinha.atend_user.last_name}}</td>
            <td>{{blinha.get_status_display}}</td>             
        </tr>

        {% endfor %}      
    
    </tbody>

    <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Início</th>
            <th rowspan="1" colspan="1">Versão</th>
            <th rowspan="1" colspan="1">Solicitante</th>
            <th rowspan="1" colspan="1">Término</th>
            <th rowspan="1" colspan="1">Atendente</th>
            <th rowspan="1" colspan="1">Status</th>
        </tr>
    </tfoot>

</table>