<table id="update_list" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
    aria-describedby="users_table_list_info">
    <thead>
        <tr role="row">
            <th tabindex="0" rowspan="1" colspan="1">Versão</th>
            <th tabindex="0" rowspan="1" colspan="1">Data</th>
            <th tabindex="0" rowspan="1" colspan="1">Usuário</th>
        </tr>
    </thead>
    <tbody>



        {% for item in versions %}

        <tr role="row" class="{% cycle 'odd' 'even' %}">
            <td> {{item.version.version}} </td>
            <td>{{item.dataHora}} </td>
            <td>{{item.usuario.first_name}} {{item.usuario.last_name}}</td>
        </tr>
        
        {% endfor %}

    </tbody>
    <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Versão</th>
            <th rowspan="1" colspan="1">Data</th>
            <th rowspan="1" colspan="1">Usuário</th>
        </tr>
    </tfoot>
</table>