 {% extends "main.html" %}
 {% load static %}
 {% block pagetitle %}Perfil Adriana{% endblock pagetitle %}
 {% block pagetitle2 %}Perfil Adriana{% endblock pagetitle2 %}
 {% block pagetitle3 %}Perfil Adriana{% endblock pagetitle3 %}
 {% block navbar %} 
 {% comment %} Trazer o navbar e passar os menus que a pessoa pode acessar. {% endcomment %}
    {% include "navbar.html" with sobre=True drizinha="Algo" urldri="http://eliu.com.br" %}
 {% endblock navbar %}
 {% block content %}

<div class="row">
    <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead"> {% lorem 4 p %} </p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a>
    </p>
    </div>
</div>
 

 {% endblock content %}