 {% extends "main.html" %}
 {% load static %}
 
 {% block pagetitle2 %}{{pagetitle}}{% endblock pagetitle2 %}
 {% block pagetitle3 %}{{pagetitle}}{% endblock pagetitle3 %}
 {% block navbar %} 
 {% comment %} Trazer o navbar e passar os menus que a pessoa pode acessar. {% endcomment %}
    {% include "navbar.html" with sobre=True drizinha="Algo" urldri="http://eliu.com.br" %}
 {% endblock navbar %}

 {% block sidebar %}
    {% include "sidebar.html" with home=True%}
 {% endblock sidebar %}

 {% block style %} 
 {% endblock style %}

 {% block menu %}
    {% with home=True %}    
    {% endwith %} 
 {% endblock menu %}

 {% block content %}

 

 <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-4">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>

                <p>Solicitações totais</p>
              </div>
              <div class="icon">
                <i class="far fa-heart"></i>
              </div>
              <a href="#" class="small-box-footer">
                Visualizar <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-4">
                <!-- small card -->
                <div class="small-box bg-warning">
                <div class="inner">
                    <h3>44</h3>

                    <p>Solicitações pendentes</p>
                </div>
                <div class="icon">
                    <i class="fas fa-heartbeat"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Visualizar <i class="fas fa-arrow-circle-right"></i>
                </a>
                </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-4">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>106</h3>

                <p>Solicitações atendidas</p>
              </div>
              <div class="icon">
                <i class="fas fa-heart"></i>
              </div>
              <a href="#" class="small-box-footer">
                Visualizar <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
        </div>
      </div>

<div class=row>
<!-- Principal -->

<div class="container-fluid">
    <div class="card col-lg-12">
        <div class="card-header">
        <h3> Lista de clientes </h3>
        </div>

        <div class="card-body">
        <!-- BodyIn -->

            <div class="container">
            <!-- RowIn -->
              <div class="row">
                <div class="col border-bottom pb-1">
                      <b>Cliente</b>
                  </div>
                  
                  <div class="col-lg-2 border-bottom pb-1">
                      <b>Solicitar</b>
                  </div>

                  <div class="col-lg-2 border-bottom pb-1">
                      <b>Atender</b>
                  </div>

                  <div class="col-lg-3 border-bottom pb-1">
                      <b>Último Backup</b>
                  </div>

                  <div class="col-lg-2 border-bottom pb-1">
                    
                    <b>Ações</b>

                  </div>
              </div>
              <!-- /RowFin -->


            {% for client in allClients %}

              <!-- RowIn -->
              <div class="row mt-1">
                  <div class="col border-bottom pb-1">
                      <span class="align-center">{{client.client.name}} {{client.categorie.name}}</span>
                  </div>
                  
                  <div class="col-lg-2 border-bottom pb-1">
                      <a class="btn-sm btn-info" href="{% url 'backuprequest' client.client.id client.categorie.id 2 %}">
                        <i class="fas fa-database align-center"></i>
                        <span class="align-center">Solicitar</span>
                      </a>
                  </div>

                  <div class="col-lg-2 border-bottom pb-1">
                      <a class="btn-sm btn-success">
                        <i class="fas fa-plus-circle"></i>
                        Atender
                      </a>
                  </div>

                  <div class="col-lg-3 border-bottom pb-1">
                      <span>{{client.client.date_created|date:"d/m/Y h:i:s"}} </span>
                  </div>

                  <div class="col-lg-2 border-bottom pb-1">
                    
                    <a class="btn-sm btn-info">
                      <i class="fas fa-cloud-download-alt"></i>
                    </a>

                    &nbsp;

                    <a class="btn-sm btn-info">
                      <i class="fas fa-user-tie"></i>
                    </a>

                    &nbsp;

                    <a class="btn-sm btn-info" data-toggle="collapse" href="#{{ client.client.date_created|date:"M" }}{{client.client.div_id}}" role="button" 
                    aria-expanded="false" aria-controls="{{ client.client.date_created|date:"M" }}{{client.client.div_id}}" style="color: #000;">
                      <i class="fas fa-plus"></i>
                    </a>

                  </div>

                  <div class="container-fluid">

                  <div class="collapse" id="{{ client.client.date_created|date:"M" }}{{client.client.div_id}}" style="border: 0;">
                      <div class="row mt-2">
                              
                          <div class="card col-lg-4">
                          
                              <div class="card-header">
                                  <h6> Anydesk </h6>
                              </div>

                              <div class="card-body">

                                  <div class="input-group pb-3">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                                      </div>
                                      <input type="text" class="form-control" placeholder="Servidor">
                                  </div>

                                  <div class="input-group pb-3">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                      </div>
                                      <input type="text" class="form-control" placeholder="Senha">
                                  </div>

                                  <div class="callout callout-info pb-3">
                                      <h5>Observação:</h5>

                                      <p>There is a problem that we need to fix. A wonderful serenity has taken possession of my entire
                                          soul,
                                          like these sweet mornings of spring which I enjoy with my whole heart.
                                      </p>
                                  </div>


                              </div>

                          
                          </div>

                          <div class="card col-lg-4">
                          
                              <div class="card-header">
                                  <h6> Terminal Server </h6>
                              </div>

                              <div class="card-body">

                                  <div class="input-group pb-3">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                                      </div>
                                      <input type="text" class="form-control" placeholder="Servidor">
                                  </div>

                                  <div class="input-group pb-3">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                      </div>
                                      <input type="text" class="form-control" placeholder="Senha">
                                  </div>

                                  <div class="callout callout-info pb-3">
                                      <h5>Observação:</h5>

                                      <p>There is a problem that we need to fix. A wonderful serenity has taken possession of my entire
                                          soul,
                                          like these sweet mornings of spring which I enjoy with my whole heart.
                                      </p>
                                  </div>


                              </div>

                          
                          </div>

                          <div class="card col-lg-4">
                          
                              <div class="card-header">
                                  <h6> Putty </h6>
                              </div>

                              <div class="card-body">

                                  <div class="input-group pb-3">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                                      </div>
                                      <input type="text" class="form-control" placeholder="Servidor">
                                  </div>

                                  <div class="input-group pb-3">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fas fa-carrot"></i></span>
                                      </div>
                                      <input type="text" class="form-control" placeholder="Usuário">
                                  </div>

                                  <div class="input-group pb-3">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                      </div>
                                      <input type="text" class="form-control" placeholder="Senha">
                                  </div>

                                  <div class="callout callout-info pb-3">
                                      <h5>Observação:</h5>

                                      <p>There is a problem that we need to fix. A wonderful serenity has taken possession of my entire
                                          soul,
                                          like these sweet mornings of spring which I enjoy with my whole heart.
                                      </p>
                                  </div>


                              </div>

                          
                          </div>

                      </div>
                  </div>        

                  </div>

              <!-- /RowFin -->
              </div>
            
            {% endfor %}
            </div>

            

        </div>
        <!-- /BodyFin -->
    </div>
</div>

</div>
<!-- / Principal -->

 {% endblock content %}