{% extends "main.html" %}
{% load static %}

{% block pagetitle2 %}{{pagetitle}}{% endblock pagetitle2 %}
{% block pagetitle3 %}{{pagetitle}}{% endblock pagetitle3 %}
{% block navbar %} 

{% include "navbar.html" %}
{% endblock navbar %}

 {% block sidebar %}
    {% include "sidebar.html" %}
 {% endblock sidebar %}

{% block content %}

{% comment %} nome 
telefone
email {% endcomment %}

<div class="card card-info">

    <div class="card-header">
      <h3 class="card-title">Dados do cliente</h3>
    </div>

    <div class="card-body">

      <form action="" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
          </div>
          <input name="client_name" type="text" class="form-control" placeholder="Nome do cliente">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-at"></i></span>
          </div>
          <input name="client_email" type="text" class="form-control" placeholder="Email">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-phone"></i></span>
          </div>
          <input name="client_phone" type="text" class="form-control telefone" />
        </div> 

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-globe-americas"></i></span>
          </div>
          <select name="client_type" class="custom-select" id="client_type">
            <option value = "0" selected>Saúde</option>
            <option value="1">Social</option>
            <option value="2">Educação</option>
            <option value="3">YabadabadOooo</option>
          </select>
        </div>

        <div class="float-right">
          <button type="submit" class="btn btn-block bg-gradient-primary">Adicionar</button>
        </div>

        <div class="float-left">
          <a href="{% url 'home'%}" class="btn btn-block bg-gradient-secondary">Cancelar</a>
        </div>
      </form>
    </div>
    <!-- /.card-body -->
</div>

{% endblock content %}