{% extends "main.html" %}
{% load static %}

{% block pagetitle2 %}{{pagetitle}}{% endblock pagetitle2 %}
{% block pagetitle3 %}{{pagetitle}}{% endblock pagetitle3 %}
{% block navbar %} 

{% include "navbar.html" %}
{% endblock navbar %}

 {% block sidebar %}
    {% include "sidebar.html" %}
 {% endblock sidebar %}

{% block content %}

  <div class="card card-info">
   <div class="card-header">
      <h3 class="card-title">Inserir novo usuário</h3>
   </div>



    <div class="card-body">

      <form action="" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          {{form.username}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{form.first_name}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-signature"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{form.last_name}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-address-card"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{form.email}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{form.password1}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{form.password2}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <input type="hidden" id="tipo_registro" name="is_active" value="True">

        <div class="row">
          <!-- /.col -->
          <div class="col-4">
            <a href="{% url 'users' %}" class="btn btn-secondary btn-block">Cancelar</a>
          </div>

          <div class="col-4 offset-4">
            <button type="submit" class="btn btn-primary btn-block">Inserir</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->

{% endblock content %}