{% extends "main.html" %}
{% load static %}

{% block pagetitle2 %}{{pagetitle}}{% endblock pagetitle2 %}
{% block pagetitle3 %}{{pagetitle}}{% endblock pagetitle3 %}

{% block navbar %}
   {% include "navbar.html" %}
{% endblock navbar %}

 {% block sidebar %}
    {% include "sidebar.html"%}
 {% endblock sidebar %}

{% block content %}


<div class="card card-info">
   <div class="card-header">
      <h3 class="card-title">Definição do serviço</h3>
   </div>
   <div class="card-body">
      <form action="" method="POST">
         {% csrf_token %}

         <div class="row">

         <div class="form-group form-group-new col-8">

         <div class="input-group">
               <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
               </div>

               <select class="custom-select" name="destination">
                  <option selected="">Escolha uma das opções abaixo:</option>

                  <option value="1">Nome do serviço</option>
                  
                  <option value="1">Campo texto</option>
                  
                  <option value="2">Texto Fixo</option>
                  
               </select>        

         </div>
            </div>


         <div class="col-12 mb-3">
            <div class="input-group">
                  <input type="text" class="form-control" value="Inserir Texto que ficará como exemplo aqui!">
                  <div class="input-group-append">
                     <button class="btn btn-outline-secondary iconpicker dropdown-toggle" data-icon="fas fa-home" role="iconpicker" data-original-title="" title="" aria-describedby="popover536568"><i class="fab fa-keybase"></i><input type="hidden" value="fab fa-keybase"><span class="caret"></span></button>
                  </div>
            </div>
         </div>

         <div class="col-2">
            <a class="btn btn-success" href="#">            
               <i class="fas fa-plus-circle"></i>
               Inserir
            </a>
         </div>
      </form>
   </div>
   <!-- /.card-body -->
</div>

{% endblock content %}