{% extends "main.html" %}
{% load static %}

{% block pagetitle2 %}{{pagetitle}}{% endblock pagetitle2 %}
{% block pagetitle3 %}{{pagetitle}}{% endblock pagetitle3 %}

{% block navbar %}
   {% include "navbar.html" %}
{% endblock navbar %}

 {% block sidebar %}
    {% include "sidebar.html"%}
 {% endblock sidebar %}

{% block content %}


<div class="card card-info">
   <div class="card-header">
      <h3 class="card-title">Definição do serviço</h3>
   </div>
   <div class="card-body">
      {% comment %} <form action="" method="POST">

         {% csrf_token %} {% endcomment %}

         {% comment %} Aqui pra cima {% endcomment %}
         <div id="construct" class="form-row align-items-center mb-3">
            <div class="col-3 mb-3">
                  <div class="btn-group btn-block">
                     <button type="button" id="buttonHead" class="btn btn-primary">Escolha</button>
                     <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                     </button>
                     <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="constructLinha('buttonHead', 'Texto Linha')">Texto Linha</a>
                        <a class="dropdown-item" onclick="constructMulti('buttonHead', 'Texto Multilinha (fixo)')">Texto Multilinha (fixo)</a>
                     </div>
               </div>
            </div>
            {% comment %} Texto linha {% endcomment %}
            {% comment %} <div class="col-1 mb-3">
               <button id="serviceIcon" class="btn btn-primary btn-block" data-icon="fas fa-home" role="iconpicker" enabled></button>
            </div>

            <div class="col-7 mb-3">
               <input type="text" class="form-control" id="inlineFormInput" placeholder="Nome do campo">
            </div>

            <div class="col-1 mb-3">
               <button onclick="serviceElement()" class="btn btn-primary btn-block"><i class="fas fa-plus-square"></i></button>
            </div> {% endcomment %}
            {% comment %} Texto linha {% endcomment %}

            {% comment %} <div class="col-12 mb-3">
               <textarea id="multiText" name="" class="form-control" rows="10"></textarea>
            </div> {% endcomment %}
         </div>

         <div class="callout callout-info mb-3">
            <h5>Dicas:</h5>

            <p>Abaixo você verá uma previsão do serviço. <br>
            Escolha um nome para o mesmo e defina os elementos que irão compô-lo.<br>
            Defina os ícones para os campos que os contém antes de salvar.</p>
         </div>

         <div class="input-group mb-3">
            <input name="service_name" type="text" class="form-control is-valid" placeholder="Nome do serviço">
         </div>

         <div class="row" id="service_body">

            

         </div>

         
      {% comment %} </form> {% endcomment %}
   </div>
   <!-- /.card-body -->
</div>

{% endblock content %}