{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{% static 'assets/dist/img/assessorlogo.png' %}"
           alt="Canivete Suíço"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Canivete Suíço</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'assets/dist/img/pokeball.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'profile' request.user.id %}" class="d-block">{{request.user.first_name}} {{request.user.last_name}}</a>
        </div>
      </div>

      {% comment %}
      has-treeview
      {% if #### %}nav-item menu-open{% else %}nav-item{% endif %}
      {% if #### %}nav-item has-treeview menu-open{% else %}nav-item has-treeview{% endif %}
      {% if #### %}nav-link active{% else %}nav-link{% endif %}
      {% endcomment %}

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="{% if home %}nav-item menu-open{% else %}nav-item{% endif %}">
            <a href="{% url 'home' %}" class="{% if home %}nav-link active{% else %}nav-link{% endif %}">
              <i class="nav-icon fas fa-grip-horizontal spaceicon"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="{% if menu_clientes %}nav-item has-treeview menu-open{% else %}nav-item has-treeview{% endif %}">
            <a href="#" class="{% if menu_clientes %}nav-link active{% else %}nav-link{% endif %}">
              <i class="nav-icon fas fa-palette spaceicon"></i>
              <p>
                Clientes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="{% if menu_cadastros %}nav-item has-treeview menu-open{% else %}nav-item has-treeview{% endif %}">
                <a href="#" class="{% if menu_cadastros %}nav-link active{% else %}nav-link{% endif %}">
                  <i class="{% if menu_cadastros %}fab fa-whmcs nav-icon text-info{% else %}fab fa-whmcs nav-icon{% endif %}"></i>
                  <p>
                    Cadastros
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'new_client' %}" class="{% if menu_clientes_novo %}nav-link bg-teal{% else %}nav-link{% endif %}">
                      <i class="{% if menu_clientes_novo %}fab fa-jenkins nav-icon text-dark{% else %}fab fa-jenkins nav-icon{% endif %}"></i>
                      <p>Cliente</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'new_client_category' %}" class="{% if menu_clientes_novo_tipo %}nav-link bg-teal{% else %}nav-link{% endif %}">
                      <i class="{% if menu_clientes_novo_tipo %}fas fa-paper-plane nav-icon text-dark{% else %}fas fa-paper-plane nav-icon{% endif %}"></i>
                      <p>Categoria</p>
                    </a>
                  </li>
                </ul>
              </li>

              {% for categoria in menu %}              
              {% for item in categoria %}

              {% if forloop.first %}
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="{{item.1}} nav-icon"></i>
                  <p>
                    {{item.0}}
                    <i class="right fas {% if forloop.revcounter >= 2 %}fa-angle-left{% endif %}"></i>
                  </p>
                </a>
                {% endif %}

                {% if forloop.counter == 2 %}
                <ul class="nav nav-treeview">
                {% endif %}

                {% if not forloop.first %}
                  <li class="nav-item">
                    <a href="{% url 'client' item.client.id item.categorie.id %}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p class="text">{{item.client.name}}</p>
                    </a>
                  </li>
                {% endif %}
                {% if forloop.last and forloop.counter >= 2 %}
                </ul>               
              </li>
              
              {% else %}
              {% if forloop.last  %}
              </li>
              {% endif %}
              {% endif %}
              {% endfor %}
              {% endfor %}

              {% comment %} 
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-users nav-icon"></i>
                  <p>Social</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-chalkboard-teacher nav-icon"></i>
                  <p>Educação</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-medkit nav-icon"></i>
                  <p>
                    Saúde
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-dot-circle nav-icon text-danger"></i>
                      <p class="text">Araçatuba</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Barretos</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Caiuá</p>
                    </a>
                  </li>
                </ul>                 
              </li>{% endcomment %}
            </ul>
          </li>
          <li class="{% if menu_admin %}nav-item has-treeview menu-open{% else %}nav-item has-treeview{% endif %}">
          
            <a href="#" class="{% if menu_admin %}nav-link active{% else %}nav-link{% endif %}">
              <i class="nav-icon fas fa-cogs spaceicon"></i>
              <p>
                Admnistração
                <i class="fas fa-angle-left right"></i>
                {% comment %} <span class="badge badge-info right">R$ 100K</span> {% endcomment %}
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'register2' %}" class="{% if menu_newuser %}nav-link active{% else %}nav-link{% endif %}">
                  <i class="{% if menu_newuser %}fas fa-user-plus nav-icon text-info{% else %}fas fa-user-plus nav-icon{% endif %}"></i>
                  <p>Registrar novo usuário</p>
                </a>
              </li>

              <li class="nav-item">               
                <a href="{% url 'users' %}" class="{% if menu_userslist %}nav-link active{% else %}nav-link{% endif %}">
                  <i class="{% if menu_userslist %}fas fa-users nav-icon text-info{% else %}fas fa-users nav-icon{% endif %}"></i>
                  <p>Usuários</p>
                </a>
              </li>

            </ul>
          </li>
          {% comment %} <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie spaceicon"></i>
              <p>
                Relatórios
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>ChartJS</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Flot</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inline</p>
                </a>
              </li>
            </ul>
          </li> {% endcomment %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="fas fa-cash-register spaceicon"></i>
              <p>
                Serviços
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'services_create' %}" class="nav-link">
                  <i class="fas fa-briefcase-medical spaceicon"></i>
                  <p>Registrar serviço</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-briefcase spaceicon"></i>
                  <p>Lista</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="fas fa-warehouse spaceicon"></i>
              <p>Armazenamento
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'storage_create'%}" class="nav-link">
                  <i class="fas fa-folder-plus spaceicon"></i>
                  <p>Registrar novo local</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'storage_list' %}" class="nav-link">
                  <i class="fas fa-folder-open spaceicon"></i>
                  <p>Locais</p>
                </a>
              </li>
                           
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>