{% extends "main.html" %}
{% load static %}

{% block pagetitle2 %}{{pagetitle}}{% endblock pagetitle2 %}
{% block pagetitle3 %}{{pagetitle}}{% endblock pagetitle3 %}

{% block navbar %}
   {% include "navbar.html" %}
{% endblock navbar %}

 {% block sidebar %}
    {% include "sidebar.html"%}
 {% endblock sidebar %}

{% block content %}
{% comment %} 
name
user
password
address
obs
status
{% endcomment %}


<div class="card">
  <div class="card-header">
    <h3 class="card-title">Lista de locais de armazenamento</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="storage_list" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="storage_list_info">
      <thead>
      <tr role="row">
        <th rowspan="1" colspan="1">Nome</th>
        <th rowspan="1" colspan="1">Usuário</th>
        <th rowspan="1" colspan="1">Senha</th>
        <th rowspan="1" colspan="1">Status</th>
        <th rowspan="1" colspan="1">Endereço</th>
        <th rowspan="1" colspan="1">Ações</th>
      </tr>
      </thead>
      <tbody>
      {% for item in destinations  %}
      <tr role="row" class="{% cycle 'odd' 'even' %}">
        <td>{{item.name}}</td>
        <td>{{item.user}}</td>
        <td>{{item.password}}</td>
        <td>{% if item.status %}Ativo{% else %}Inativo{% endif %}</td>
        <td>{{item.address}}</td>        
        <td>
          <a title="Editar" class="btn btn-outline-secondary btn-sm" style="color: #000;" href="{% url 'storage_edit' item.id %}">
            <i class="fas fa-edit"></i>
          </a>
          &nbsp;
          <a title="Ativar/Inativar" class="btn btn-outline-secondary btn-sm" style="color: #000;" href="{% url 'storage_onoff' item.id item.status %}">
            <i class="fas fa-sync-alt"></i>
          </a>
        </td>                  
      </tr>                
      {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <th rowspan="1" colspan="1">Nome</th>
        <th rowspan="1" colspan="1">Usuário</th>
        <th rowspan="1" colspan="1">Senha</th>
        <th rowspan="1" colspan="1">Status</th>
        <th rowspan="1" colspan="1">Endereço</th>
        <th rowspan="1" colspan="1">Ações</th>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>

{% endblock content %}
